<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Trivia MCQ</title>

    <link type="text/css" rel="stylesheet" href="../public/css/style.css" />
  </head>
  <body>
    <header id="main-header" class="bg-success text-white p-4 mb-3">
      <h1 id="header-title">Homework 5 Trivia MCQ</h1>
    </header>

    <div class="container">
      <main>
        <h2 class="title">
          This page contains 6 Trivia MCQ's!
        </h2>
        
      </main>
    </div>

    <div class="container">
      <h3>Selected from 2021 top 101 trivia</h3>
      <h4>Submit your answers below</h4>
      <div id="main" class="card card-body">
        <form
          class="form-inline mb-3"
          action="/insertanswers/"
          method="post"
          id="CRUDcreate"
        >
          <label for="q1">How long is an Olympic swimming pool (meters)? - [a.50]    [b.25]    [c.66]    [d.12] </label>
          <input
            type="text"
            name="q1"
            placeholder="Enter a, b, c, or d"
            size="200"
            required
            autocomplete="off"
            class="form-control mr-2"
          />
          <br />
          <label for="q2">What does www stand for in a website brower? - [a.world wide web]    [b.western wide web] </label>
          <input
            type="text"
            name="q2"
            placeholder="Enter a, or b"
            size="200"
            required
            autocomplete="off"
            class="form-control mr-2"
          />
          <br />
          <label for="q3">What geometric shape is generally used for stop signs? - [a.square]    [b.triangle]    [c.octagon] </label>
          <input
            type="text"
            name="q3"
            placeholder="Enter a, b, or c"
            size="200"
            required
            autocomplete="off"
            class="form-control mr-2"
          />
          <br />
          <label for="q4">What is cynophobia? - [a.fear of odd things]     [b.fear of dogs]    [c.fear of butterflies] </label>
          <input
            type="text"
            name="q4"
            placeholder="Enter a, b, or c"
            size="200"
            required
            autocomplete="off"
            class="form-control mr-2"
          />
          <br />
          <label for="q5">Which company created the iPhone? - [a.Apple]    [b.Samsung]   [c.Google] </label>
          <input
            type="text"
            name="q5"
            placeholder="Enter a, b, or c"
            size="200"
            required
            autocomplete="off"
            class="form-control mr-2"
          />
          <br />
          <label for="q6">What is the name of the largest ocean on Earth? - [a.Pacific]     [b.Atlantic]    [c.Indian]    [d.Southern] </label>
          <input
            type="text"
            name="q6"
            placeholder="Enter a, b, c, or d"
            size="200"
            required
            autocomplete="off"
            class="form-control mr-2"
          />
          <br />
          <input type="submit" value="SUBMIT" class="btn btn-dark" />
          <input type="reset" value="RESET" class="btn btn-dark" />
        </form>
      </div>
    </div>

    <div class="container">
      <h3>Want to see your score?</h3>
      <h4>Click 'score' to see how you did</h4>
      <div id="main" class="card card-body">
        <form
          class="form-inline mb-3"
          action="/readanswers"
          method="get"
          id="CRUDread"
        >
          <input type="submit" value="SCORE" class="btn btn-dark" />
        </form>
      </div>
    </div>

    <div class="container">
      <h3>Reset all answers</h3>
      <div id="main" class="card card-body">
        <form
          action="/deleteanswers"
          method="post"
          id="CRUDdelete"
          class="form-inline mb-3"
        >
          <input type="submit" value="RESTART" class="btn btn-dark" />
        </form>
      </div>
    </div>
  </body>
</html>
